<%#= erb :'/brands/single_brand', locals: {user: user, idx: 0, reviews: []} %>

<%#= user.to_json %>
<h1> Single User </h1>

<div class='single_user <% tags.each do |tag| %><%="tag-#{tag} "%><% end %>'>
  <div class='single_user_row'><b><%= user[:name] %></b> 
    <% if site.present? %>
    / <a href='<%= site%>'><%=site%></a>
    <% end %>
  </div>
  <div class='single_user_row'><%= user[:desc] %></div>
  <div class='single_user_row'>
    <% tags.each do |tag| %>
      <span class='single_tag'><%= tag %> </span>
    <% end %>
  </div>
  <div class='single_user_row'></div>
</div>