<%
  user ||= {}
%>

<div class='display_flex'>                  
    <label style='min-width: 215px;'> You are a </label>
    <select name=type onchange=$('#submitMeForm').click()>
      <option <%="selected" if user[:type] == SELLER_TYPE %> value=<%=SELLER_TYPE%>> Talent 👤</option>
      <option <%="selected" if user[:type] == BUYER_TYPE %>  value=<%=BUYER_TYPE%>>Company <%= COMPANY_EMOJI %></option>
    </select>
</div>