

<style>
.top-nav {
  margin: 0 20px;
  margin: 0;
  <% if !$prod %>
  border: 1px solid goldenrod;
  <% end %>

  <% if heb %>
  zdirection: rtl;
  <% end %>

}
.footer a {
  margin: 20px;  
  /*color: #209CEE;*/
  color: #aab8c2
}

.top-nav a:not(.logo) {
  color: #1e5353;
  color: #12abcd;
  color: var(--color1);
  zcolor: var(--color2);
  zcolor: black;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;  
  position: relative;
  bottom: 3px;
}

.top-nav a.border {
  border:1px solid;
}

.top-nav a:not(.logo):hover {
  color: black;
  zcolor: var(--lightblue) !important;
  color: #12AB89;
  color: var(--color2);
  ztext-decoration: underline !important;
}


#top-nav-btn1 {
  background-color: var(--color1);
  border:1px solid var(--color1);
  color: white;
}
#top-nav-btn1:hover {
  filter: brightness(var(--hover-brightness));;
  /*border:1px solid var(--color1);
  color: var(--color1);*/
}

.top-nav #user_name {
  color: var(--color2);
}
.top-nav #user_name:hover {
  color: var(--color1);
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 200px;
    zborder:1px solid red;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .search_go_btn {
    /*display: none;*/
  }

  .top-nav {
    margin: 0 20px;
    padding: 20px 0 10px;    
    height: 50px;
    /*position: absolute;
    
    top: 0;
    left: 0;
    z-index: 999;*/
  }

  .top-nav a:not(.logo) {
    background-color: white;
    padding: 5px 10px;
  }
}


.search_input {
  padding: 13px 40px 13px 20px;
  border: 1px solid grey;
  font-size: 17px;
  width: 200px;
  margin-left: 0px;
}
.links_city_selector_container {
  display: inline-block;
  vertical-align: super;
  margin-bottom: 20px;  
}
@media screen and (max-width: 800px) {
  .links_city_selector_container {
    zmargin-left: 40px;
  }
  .container {
    margin:10px 0;
    padding:10px 0;
    position: relative;
    /*top: 30px;*/
  }
  .search_input {
    width: 300px;
  }
  .top-nav {
    margin: 10px;
/*    border-bottom:1px solid whitesmoke;*/
    position: relative;
    text-align: center;

  }
  .top-nav a, .top-nav .search_input_form {
    display: none;
    margin: 5px;
  }
  /*.fa-gear:hover {
    color: red;
  }*/
  .top-nav a:not(.logo).expanded, .top-nav .search_input_form.expanded {
    display: block;
    padding: 15px;
    background:whitesmoke;
    padding-right: 30px;
    margin-left: 50px;
    color: black;
    text-align: center;
  }

  .top-nav a.logo {
    display: block;
    text-align: center;
  }
  .top-nav a .sub_logo_msg {
    display: block;
    text-align: center;
    width: 100%;
  }
  .hamburger {
    display: block;
  }

  .create_form {
    float: left;
  }

  .search_input {
    padding-right: 0;
  }
}

.search_input_form {
/*  display: inline-block;*/
}

.logo_sub_text {
  position: relative;
  top: 20px;
  <% if heb %>  
  left: 80px;
  <% else %>
  right: 80px;
  <% end %>
  font-size: 13px;
  color: grey;
}

#top_plus_btn {
  font-size: 17px;
  border-radius: 4px;
  padding: 3px 20px;
  position: relative;
  top: 0px;
}

.country_icon_container {
  zbackground: linear-gradient(#e66465, #9198e5, #47f53b);  
}

.country_icon {
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 50%;
}
.client_logo {
  background-color: #324167;
  padding: 10px;
  border-radius: 10px;
}
.sub_logo_msg {
  font-size: 14px; 
  color:#1F5151; 
  left: 6px;
  position: absolute;
  top: 26px;
}

.links_profile_pic {
  height: 20px;
  border-radius: 2px;
  zborder: 1px solid #386256;
  padding: 4px;
  margin-right: 5px;
}

</style>

<%
  path = _req.path rescue ''
  logo = '/favicon.ico'
  logo = '/img/landing_page/logo6.png'
  use_client_logo = pr[:use_client_logo]
  if use_client_logo 
    logo = 'https://images.squarespace-cdn.com/content/v1/5488a9e6e4b0563d5788db1a/12d1da8f-17e9-4462-a4df-d58a3e7c0f27/Tilray+Logo+-+Header.png?format=1500w'
  end
  is_post_page = path.to_s.starts_with?('/posts/') rescue false
  is_main_page = path.to_s == '/' rescue false
%>

<% if path.starts_with?('/admin') %>
  <div style='padding:10px'>
    
    <a style='margin-right: 10px' class='simple_link' href='/'>Homepage</a>
    <a class='simple_link' href='/admin'><b>Admin</b></a>
    <a target=_blank class='btn btn-info' href='/admin/admin_stats'>Admin Stats</a>
    <a target=_blank class='btn btn-info' href='/admin/sellers'>Sellers Notes</a>
    
    <form method=post action="/admin/upload_gdoc_sellers" style='display: inline-block;' enctype="multipart/form-data">
      <label class='btn btn-warning btn-raised'> upload new gdoc of sellers </label>
      <input name=file size=50 type="file" onchange="if (confirm('confirm submission of this file?')) form.submit()" />
    </form>
  </div>
<% else %>

  <div class='top-nav'>
    <% if path!='/z' %>
    <span>
      <a class='logo <%=use_client_logo ? 'client_logo' : ''%>' href='/' style='display: none'> 
        <img src='<%=logo%>' style='height:30px'/>
        <% 
          msg = OUR_TAGLINES.sample
          msg = 'the online cannabis economy'
          msg = 'hire professional developers.'
        %>
        <div class='sub_logo_msg'><%= msg %></div>
      </a>
    </span>
    <% if use_client_logo %>
    
    <% end %>
    <% end %>       


    <div class='logo_container' style='display: inline-block; display: none'>
      <a href='/' class='logo'>
        <b style='color: #00b140'>
          <img src='/img/nowcast_logo_pause.png' style='height:80px' />
        </b> 
        <small class='logo_sub_text'>
          <%= html_title %>
        </small>
      </a>    
    </div>
    
    <% unless @hide_header %>
    
    
    <style>
      .logo-text {
        font-size: 16px;
        font-weight: bold;
      }
      .logo-slogan {

      }
      .sub-logo-text {
        zdisplay: none;
      }
    </style>
    <a class='zbtn logo' href='/' style='display: inline; flex-direction: column; font-size: 16px'>
      <span class='logo-text' style='color: var(--color2)'>&lt;</span><span style='color:var(--color2)'>/&gt; </span>
      <span style='color:var(--color1);'>better</span><span style='color:var(--color2)'>devs</span>
      
      <span class='separator' style='display: none; color:var(--black1'>:</span>
      <span class='sub-logo-text' style='display: none; font-size: 90%; color: var(--black1)'>the talent marketplace</span>
    </a>
    <% if cu %>
      <a id=user_name class='user_name' href='/me'>
        <img class='links_profile_pic' src='<%=cu[:img_url]%>'>
        <%#= cu_logo %>         

         <b><%= cu[:name] %> </b>

         <%#= cu[:type] %>
         <%#= cu[:subtype] %>
        <span style='display: none; z: inline-block; padding:0 7px; position: relative; top: 1px'>
          <% if cu[:type].to_s == 'seller' && cu[:subtype].to_s == 'talent' %>👤<% end %>
          <% if cu[:type].to_s == 'seller' && cu[:subtype].to_s == 'team' %>  👥<% end %>
          <% if cu[:type].to_s == 'buyer' %> 🦄<% end %>
        </span>
        <%= "<span style='position: relative; left: 3px; top: 2px'>✅</span>" if is_pro(cu) %>

       </a>       
      
    <% else %>      
      
      

      
      
      <% if false %>
      <a class='btn btn-raised btn-primary' href='/signup?type=buyer'>
      
      <i class='fal fa-smile' style='margin-right: 10px'></i> <%= !heb ? 'Sign up to buy' : 'הרשמה' %>
      
      </a>          
      <% end %>  
      
    <% end %>

    <% if !cu %>
    <a class=border id='top-nav-btn1' href='/signup'><%= !heb ? 'join' : 'כניסה' %></a>
    <% end %>

    <a href='/about'>About</a>
    <a href='/careers'>Careers</a>
    <a href='/articles/about/values'>Values</a>
  
    <a href='/pro'>Pro</a>
    <a href='/contact'>Contact</a>
  
    <a class="margin-2" href='/articles'>Articles</a>
    

    <% if false && cu && is_verified %>
    <a class='' href='/'><i class='fa fa-search'></i> <span style='display: inline-block; margin-left: 5px'><%= 'search' %></span> </a>
    <% end %>

    
    <% if false && cu && !is_pro(cu) %>
     <!-- get pro -->
      <a class='znoDisplay' href='/pro'><i class='noDisplay fa fa-plus'></i> get <span style='display: inline-block; margin-left: 3px'>pro </span> </a>
    <% end %>
    
    
    

    <% if false && !cu  %>

      <% if _req.path == '/' %>
        <a class='nzbtn zbtn-primary zbtn-raised' href='/signup?type=seller' zhref='/signup?type=seller'>      
      <% else %>
        <a class='zbtn zbtn-primary zbtn-raised' href='/signup?ztype=seller'>      
      <% end %>
        <i class='fas zfa-store' style='margin-right: 10px'></i><%= !heb ? 'Register' : 'הרשמה' %></a>  
    <% end %>    
    
    <a class='noDisplay' href='/forum'><i class='fa fa-forum'></i> <%= 'forum' %> </a>
    <% if false %>
    <a class='' href='/vip'><i class='fa fa-question-smiley' style='margin-right: 5px'></i> <%= 'VIP chat' %> </a>
    <% end %>
    <% if false %>
    <a class='noD' href='/help'><i class='fa fa-question-circle noDisplay' style='margin-right: 5px'></i> <%= 'help' %> </a>
    <% end %>
    
    
      <% ([] || ['usa', 'israel']).each do |country| %>
        <a style='padding: 0' class='country_icon_container' href='/?country=<%=country%>'><img class='country_icon' src='/img/icons/<%=country%>.png' /></a>
      <% end %>
      <!-- <a class='' href='/community'>Community</a> -->
    <% if cu && false %>
      <a href='/chat'>

        <i style='zfont-size: 50%; position: relative; zbottom:5px; zmargin-left:20px' class='fal fa-envelope'></i>
        <span class='header_envelope_num_unreads noDisplay'></span>
        <span style='margin-left: 5px'>Messages</span>
      </a>
    <% end %>

    <%#= erb :'search/search_inputs_row' if search_input_on_top %>      
    <% 
      link = cu ? '/create' : '/signup?type=event' 
      text = cu ? '+ create' : 'join'
    %>

    <% if false %>
      <a href='<%= link %>' class='btn btn-primary btn-raised btn-info' id='top_plus_btn'><%= text %></a>
    <% end %>
    
    
    <% end %>

    <!-- <a class='' href='/we_love_developers'>We Love Developers</a> -->
    <!-- <a class='' href='/pricing'>pricing</a> -->
    <!-- <a class='' href='/how_it_works'>about us</a> -->
    <!-- <a class='' href='/contact'>contact</a> -->
    <!-- <a class='' href='/careers'>careers</a> -->
    <% if is_admin %>
    <a class='' href='/blog'>blog</a>
    <% end %>

    <% if cu %>      
      <a class='' href='/logout' onclick="return confirm('Are you sure you wish to log out?')"><i class='fal fa-times' ></i></a>
    <% end %>    

    <%= erb :'header/hamburger' %>
  </div>  
<% end %>   