<% 
  name      = user[:name]
  website   = user[:website]
  positions = user[:casts].to_h.values
  img_url   = user[:img_url]
  img_url   = DEFAULT_PIC unless img_url.present?
%>

<style>
.linkified {
  text-decoration: underline;
  color: var(--color2);
}
.single_user {
  display: flex;
}
.single_user_left_half {
  flex:1;
  margin-right: 20px;
}
.single_user_right_half {
  flex: 1;
  max-width:60%;
}

.user_desc {
  background-color: whitesmoke;
  padding: 5px 10px;
  font-size: 20px;
  white-space: pre-wrap;
}
.single_position {
  margin-top: 10px;
}

.position_title {
  padding:15px 10px;
}
.position_title:hover {
  border:1px solid whitesmoke;
  cursor: pointer;
}

.position_desc {
  color: var(--grey1);
  font-size: 16px;
  margin-top:20px;  
}

.single_position .position_desc {
  display: none;
  padding:10px;
}
.single_position.open .position_desc {
  display: block;
}

.position_logo {
  height: 20px; 
  transition-duration: 0.3s; 
}

.single_position.open .position_logo {
  transform: rotate(90deg); 
  
}

.single_user_wrapper {
  padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .single_user {
    flex-direction: column;
  }
  .single_user_right_half {
    width: 90%;
    margin: auto;
  }
}
.single_user_video_wrapper iframe {
  max-width: 100%;
  height: 300px;
}

.messageArea {
  background-color: var(--color1);
  text-align: center;
  padding:10px;
  margin:10px;
}

.contact_btn {
  width: 60px;
  text-align: center;
  display: inline-block;
}

</style>
<div class='single_user_wrapper'>
  <div class='single_user'>
    <div class='single_user_left_half'>
      <h1> 
        <span class='profile_logo'>
          <img style='height: 60px; width: 60px; margin-right: 10px; border-radius: 50%' src='<%=img_url%>' />
        </span>
        <%= name %> 
        <span class='contact_btn btn2' style='margin-left: 10px' onclick=$(".messageArea").toggle()>contact</span>
        <span class='contact_btn btn2' style='margin-left: 10px' onclick=$(".messageArea").toggle()>hire </span>

        <% if is_admin %>
          <a style='zposition: absolute; left: 10px' class='btn btn-raised btn-danger' href='/admin/login_as?email=<%=user[:email]%>'>admin login</a>
        <% end %>
      </h1>


      <div class='hq_location' style='color:var(--grey1)'>
        <%= user[:location] %><% if user[:website].present? %>, 
        <a target=_blank class=simple_link href='//<%=website%>'><%= website %></a><% end %>

        
      </div>

      <div class='messageArea noDisplay'>
        <form method=post action=/users/contact>
        <input name=user_id value="<%=user[:_id]%>" hidden />
        <h4> Message for <%= name %> </h4>
        <textarea class=input1 name=text placeholder='Hi! Would love to connect.'></textarea>
        <div><button class='btn2'> Submit </button></div>
      </div>

      <div class='single_user_video_wrapper' style='margin-top:10px; height: 100%'>
        <%= erb :'rafaeli/partials/video_box', locals: {user: user} %>
      </div>
      <br/>
      <br/>
    </div>

    <div class='single_user_right_half'>
      <% if user[:desc].present? %>
        <pre class='user_desc'><%= user[:desc] %></pre>
      <% end %>

      <% if positions.any? %>
        <div class='positions_list'>
        <% positions.each do |position| %>
          <div class='single_position'>
            <div class='position_title' onclick="$(this).parent().toggleClass('open')" style='display: flex; justify-content: space-between;'>
              <span><%= position[:title] %></span>
              <span><img src='https://imgur.com/Fx2PStO.png' class='position_logo'></span>
            </div>

            <div class='position_desc'>
              <%= position[:desc] %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>

      <% if user[:media].to_a.any? %>
        <div class='user_sub_imgs'>
          <br/><%= erb :'casts/show_media', locals: {item: user} %><br/>
        </div><br/>    
      <% end %>


    </div>
  </div>

</div>

<script>
function onUserLoad() {
  $('.user_desc').linkify({target: "_blank"});
}

$(document).ready(onUserLoad);
</script>