<style>
.links_input {
  font-size: 14px !important;
}
</style>
<hr/>
<%

x=1

%>
<% 1.times do |i| %>  
  <div class='display_flex'>
    <% if i ==0 %>
      <label> Website </label> 
    <% else %>
      <label> </label> 
    <% end %>
    <!-- <div class=help_text>
      <div>Add as much information about yourself as possible.</div>
    </div> -->

    <% if false %>
    <input list="links-options" id="links-list-<%=i%>" value="<%=user['links_name_'+i.to_s]%>" name=links_name_<%=i%> class='links_input' placeholder='Site name' />
    <% end %>

    <input value="<%=user['links_val_'+i.to_s]%>" name=links_val_<%=i%> class='links_input' placeholder='https://www.yoursite.com' />
  </div>
  <br/>
<% end %>
<datalist id="links-options">
    <option value="GitHub">
    <option value="GitLab">
    <option value="LinkedIn">
    <option value="Homepage">
    <option value="Other">
</datalist>
<br/>