<%
  user = res
%>

<div class='bottom_links'>
  <% if res[:license_url].present? %>            
    <a class='bottom_link' href='<%=res[:license_url].to_s%>' target=_blank >📎</a> ·
  <% end %>   

  <% RAFA_NUM_LINKS.times do |i| %>
    <% link_name = res["links_name_"+i.to_s].to_s.downcase %>
    <% link_val  = res["links_val_"+i.to_s] %>
    <% if link_val.present? %>
      <% is_email = link_name.include? 'email' %>
      <a class='bottom_link' target=_blank 
          <% if is_email %> href='mailto:<%=link_val%>'
          <% else %> href='//<%=link_val%>' <% end %> 
        >

        <% if is_email %> 📩 
        <% elsif link_name.include? 'git' %>   <i class='fa fa-github'></i> 
        <% elsif link_name.include? 'linkedin' %>  <i class='fa fa-linkedin'></i> 
        <% elsif link_name.include? 'home' %>  <i class='fa fa-home'></i> 
        
        <% else %>
        <%= link_name %>     
        <% end %>           
      </a> 
      <% if res["links_val_"+(i+1).to_s].present? %> <span class='separator-dot'> · </span> <% end %>
      <% end %>
    <% end %>
<!-- <a class='bottom_link' href='#' zonclick='alert("Not implemented yet, will be done by 1 Sept");'> Homepage </a> ·
      <a class='bottom_link' href='#' zonclick='alert("Not implemented yet, will be done by 1 Sept");'> foo@email.com </a>  -->
    <% if false && user_casts.any? %>
     <a class='bottom_link' style='font-weight: bold' href='#' onclick='$(this).closest(".single_result").find(".experiences_list").toggle(); return false'> Experience (<%= user_casts.count %>) </a> 
    <% end %>
</div>