<style>
.education_input {
  font-size: 14px !important;
}
</style>
<hr/>
<%

x=1

%>
<% 3.times do |i| %>  
  <div class='display_flex'>
    <% if i ==0 %>
      <label> Education </label> 
    <% else %>
      <label> </label> 
    <% end %>
    <!-- <div class=help_text>
      <div>Add as much information about yourself as possible.</div>
    </div> -->

    <input value="<%=user['edu_institute_'+i.to_s]%>" name=edu_institute_<%=i%> class='education_input' placeholder='Institute' />
    <input value="<%=user['edu_achievement_'+i.to_s]%>" name=edu_achievement_<%=i%> class='education_input' placeholder='Achievement' />
    <input value="<%=user['edu_date_'+i.to_s]%>"  name=edu_date_<%=i%> class='education_input' placeholder='Date' />
  </div>
  <br/>
<% end %>
<br/>