<style>
.bottom_link {
  height: 10px;
  display: inline-block;
  font-size: 13px;
  font-size: 16px;
  padding-bottom: 12px
}

.single_experience {
  cursor: pointer;
  padding: 10px;

}
.single_experience:hover {
  background-color:whitesmoke;
}
.title:hover {
  text-decoration: underline;
}
.rate {
  font-weight: bold;
}
.search-results-name {
  font-weight: bold;
}
.single_result_card {
  max-width: 40%;
  display: inline-flex;
  background-color: whitesmoke;
}
</style>
<div class='search_results_wrapper'>
<% if results.any? %>
  <% results = results[0..4] %>
  <% results.each do |res| %>
    <%  user_casts = $casts.all(user_id: res[:_id]) %>
    <div class='single_result zsingle_result_card'>
      <div class='left_half flex6'>
        <div class='top_row' style='display: flex; align-items: center'>          
          <div class='top_row_left flex4' style='margin-right: auto'>
            <span class='search-results-name'><%=res[:title]%></span>
            <% if res[:location].present? %>
            <span class='location' style='display: inline-block; margin-left: 10px'> › <%=res[:location].to_s %></span>
            <% end %><% if res[:rate].present? %><span class='location rate' style='display: inline-block; margin-left: 10px'> › <%=res[:rate].to_s %></span>            
            <% end %>    
          </div>
          <div class='top_row_right flex3' style='padding-right: 20px'>
            
          </div>
        </div>
        <div class='title'>      
          <a target=_blank href='<%=$root_url%><%=user_link(res)%>'>
            <% if res[:name].present? %><span class='title'><%=res[:name]%></span> <% end %>
          </a>            
        </div>
        <div><%= erb :'rafaeli/partials/chips_list', locals: {user: res} %></div>
        <div class='desc'>
          <%= res[:desc] %>          
        </div>

        <!-- LINKS -->
        <% use_bottom_links = true %>
        <% if use_bottom_links  %>          
              <!-- <a class='bottom_link' href='#' zonclick='alert("Not implemented yet, will be done by 1 Sept");'> Chat </a> ·
              <a class='bottom_link' href='#' zonclick='alert("Not implemented yet, will be done by 1 Sept");'> Hire </a> · -->
              <%= erb :'rafaeli/dev_bottom_links', locals: {res: res} %>              
        <% end %>        

        <!-- EXPERIENCE -->
        <% if false && user_casts.any? %> 
          <div class='experiences_list' style='padding-left:10px'>
          <div style='font-weight: bold; margin: 10px'> Experience </div>
          <% user_casts.to_a.each do |cast| %>
            <%= erb :'rafaeli/single_search_result_extra', locals: {cast: cast, search_val: search_val} %>
          <% end %>
          </div>        
        <% end %>

        <!-- EDUCATION -->
        <%#= erb :'rafaeli/dev_education_results', locals: {res: res, search_val: search_val} %>                      
      </div>
      <% if true %>
      <div class='right_half img_container flex1' style='zborder:1px solid red; text-align: right'>
        <% if res[:img_url].present? && (!res[:img_url].to_s.include?('profile.png')) %>
        <img src='<%=res[:img_url]%>' />
        <% end %>
      </div>
      <% end %>      
    </div>
  <% end %>
      <%= erb :'rafaeli/search/page_numbers' %>
<% else %>
  <div class='no_results ct'>
    <br/>
    <h5> 
      No results found.
      <br/>
      <br/>
      But we logged your request - and we'll look for that.
      <br/>
      <br/>
      You can <a class=simple_link href='mailto:requests@indydevs.com?subject=Request for talent'>mail us</a> for specific requests.</a>
      <div>
    </h5>
  </div>
<% end %>
</div>

<script>

</script>