

<style>
.bottom_link {
  height: 10px;
  display: inline-block;
  font-size: 12px;
  padding-bottom: 12px
}

.single_experience {
  cursor: pointer;
  padding: 10px;

}
.single_experience:hover {
  background-color:whitesmoke;
}
</style>
<div class='search_results_wrapper'>
<% if results.any? %>
  <% results = results[0..2] %>
  <% results.each do |res| %>
    <div class='single_result'>
      <div class='left_half flex6'>
        <div class='top_row'>
          <span class='name'><%=res[:name]%></span>
          <% if res[:location] %>
          <span class='location' style='display: inline-block; margin-left: 10px'> › <%=res[:location].to_s %></span>
          <% end %><% if res[:rate] %><span class='location' style='display: inline-block; margin-left: 10px'> › <%=res[:rate].to_s %></span>            
          <% end %>    
        </div>
        <div class='title'>      
          <% if res[:title].present? %><span class='title'><%=res[:title]%></span> <% end %>
          
        </div>
        <div class='desc'>
          <%= res[:desc] %>          
        </div>

        <%  user_casts = $casts.all(user_id: res[:_id]) %>
        <div class='experiences_list' style='padding-left:10px'>
        <% user_casts.to_a.each do |cast| %>
          <div class='single_experience' onclick=$(this).find(".exp_desc").toggle() style='font-size: 12px; margin-top: 10px'>
            <div>
              <span class='exp_img'> <img style='height:20px' src='<%=cast[:img_url]%>' /></span >
              <span class=''><%=cast[:title]%></span >
              <span>/ <%=cast[:client_name]%></span>
              <span>/ <%=cast[:custom_time]%></span>
            </div>

            <% 

             
            x=1

            %> 

            <div class='exp_desc <% if (!search_val || !cast[:desc].to_s.downcase.include?(search_val)) %> noDisplay <% end %>' style='padding: 10px 0 0 20px'>
              <%= cast[:desc] %>
            </div>
          </div>          
        <% end %>
        </div>


        <% use_bottom_links = false %>
        <% if use_bottom_links  %>
          <div class='bottom_links'>
            <br/>
            <% if res[:license_url] %>            
              <a class='btn btn-sm btn-info btn-raised bottom_link' href='<%=res[:license_url].to_s%>' target=_blank >CV</a> 
            <% end %>    

            <form>
              <input placeholder='Message' />
              <button>send </button>
            </form>

              <a class='btn btn-sm btn-raised btn-info bottom_link' href='/' onclick='alert("Not implemented yet, will be done by 1 Sept");'> Chat </a> 
              <a class='btn btn-sm btn-raised btn-info bottom_link' href='/' onclick='alert("Not implemented yet, will be done by 1 Sept");'> Hire </a> 
          </div>
        <% end %>
      </div>
      <% if true %>
      <div class='right_half img_container flex1' style='zborder:1px solid red; text-align: right'>
        <% if res[:img_url].present? %>
        <img src='<%=res[:img_url]%>' />
        <% end %>
      </div>
      <% end %>      
    </div>
  <% end %>
      <div class=ct>
        <button>click to see more </button>
      </div>
<% else %>
  <div class='no_results ct'>
    <br/>
    <h5> 
      Oh, sorry. Nobody available for that right now. 
      <br/>
      <br/>
      We're still in alpha, launching early '23. 
      <br/>
      <br/>
      You can <a href='mailto:requests@rafaeli.io?subject=Request for talent'>write us</a> for specific requests.</a>
      <div>
    </h5>
  </div>
<% end %>
</div>

<script>

</script>