<style>
.bottom_link {
  height: 10px;
  display: inline-block;
  font-size: 13px;
  font-size: 16px;
  padding-bottom: 12px
}

.single_experience {
  cursor: pointer;
  padding: 10px;

}
.single_experience:hover {
  background-color:whitesmoke;
}
.line_title {
  color: lightgrey;
}
.title:hover {
  text-decoration: underline;
}
.rate {
  font-weight: bold;
}
.search-results-name {
  font-weight: bold;
}
.single_result_card {
  max-width: 40%;
  display: inline-flex;
  background-color: whitesmoke;
}
.search_result_desc {
  color: rgb(77, 81, 86);
  font-size: 14px;
  margin: 10px 10px 10px 0;
}
.single_result {  
}
.top_fields {
  display: flex;
}
.top_field {
  flex:1;
  display: inline-block;
}
.top_field_img_container {
  display: inline-block;
  zwidth: 50px;
}
.top_field_img {
  width: 50px;
}
.small_action {

}

</style>
<div class='search_results_wrapper'>
<% if results.any? %>
  <% results = results[0..4] %>
  <% results.each do |res| %>
    <%  user_casts = [] #$casts.all(user_id: res[:_id]) %>
    <div class='single_result zsingle_result_card'>
      <div class='top_fields'>
                
        <span class='top_field'>
          <%= res[:name] %>
          <% if is_verified(res) %><span style='margin-left: 5px'> ✅ </span><% end %>
        </span>
        
        <span class='top_field line_title'><%= res[:title] %></span>
      
        <span class='top_field location' style='display: inline-block; margin-left: 10px'><%=res[:location].to_s %></span>

        <span class='top_field location rate' style='display: inline-block; margin-left: 10px'> <%=res[:rate] %></span>
        
        <span class='top_field'>
          <button class='small_action'>contact</button>
          <button class='small_action'>hire</button>
        </span>

        <span class='top_field top_field_img_container'>
          <% if res[:img_url].present? && (!res[:img_url].to_s.include?('profile.png')) %>
          <img class=top_field_img src='<%=res[:img_url]%>' />
          <% end %>
        </span>
      </div>
      <div class='bottom_fields'>
        <div class='search_result_desc'>
          <%= res[:desc] %>          
        </div>
      </div>
    </div>
  <% end %>
  <%= erb :'rafaeli/search/page_numbers' %>
<% else %>
  <div class='no_results ct'>
    <br/>
    <h5> 
      No results found.
      <br/>
      <br/>
      You can <a class=simple_link href='mailto:requests@indydevs.com?subject=Request for talent'>mail us</a> for specific requests.</a>
      <div>
    </h5>
  </div>
<% end %>
</div>