<%
  val     = pr[:q]

  all_sellers = $users.all(type: 'seller').reverse

  fields = [:title, :location, :desc, :rate] 
  users  = all_sellers.select {|u| 
    text = fields.map {|f| " "+u[f].to_s }.join(' ')
    u[:text] = text
    val && text.downcase.include?(val.to_s) 
  }
  # users   = all_sellers # .select {|u| val && u.to_s.include?(val.to_s) }
  results = users

  # results = [
  #   {name: 'Sella Rafaeli', title: 'Expert Fullstack Architect', location: 'Tel Aviv', desc: 'Really nice guy.', rate: '$10k-30k USD/mo'}
  # ]


# bp

x=1 

%>

<style>
.main_search_wrapper {
  margin: 40px;
}
.main_search {
  border-radius: 0px;
}
.single_result {
  zbackground-color: whitesmoke;
  padding:5px 10px;
  margin-bottom: 10px;
  display: flex;
}
.name {
  font-weight: bold;
}
.top_row {
  font-size: 14px;
}
.title {
  color: rgb(26, 13, 171);
  margin:7px 0 3px 0;
  display: block;
  font-size: 20px;
}
.location {
  font-size: 14px;
  color: #746e6e;
}
.desc {
  color: rgb(77, 81, 86);
  font-size: 14px;
}
.rate {
  margin-top: 10px;
}
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_container img {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
}
.bottom_link {
  color: rgb(26, 13, 171);
  font-size: 14px;
}
</style>


<div class='main_search_wrapper ct'>
  <form method=get action=search>
    <input name=q class='main_search input1' placeholder='search...' value="<%=val%>" autocomplete />
    <button class='btn btn-raised btn-primary'>go </button>
  </form>
</div>

<% results.each do |res| %>
  <div class='single_result'>
    <div class='left_half flex6'>
      <div class='top_row'>
        <span class='name'><%=res[:name]%></span>
        <% if res[:location] %>
        <span class='location' style='display: inline-block; margin-left: 10px'> › <%=res[:location].to_s.downcase %></span>
        <% end %>
      </div>
      <div class='title'>      
        <% if res[:title].present? %><span class='title'><%=res[:title]%></span> <% end %>
        
      </div>
      <div class='desc'>
        <%= res[:desc] %>
      </div>

      <div class='bottom_links'>
        <% if res[:rate] %><div class='rate bottom_link'><%= res[:rate] %></div><% end %>    
      </div>
    </div>
    <div class='right_half img_container flex1' style='zborder:1px solid red; text-align: right'>
      <% if res[:img_url].present? %>
      <img src='<%=res[:img_url]%>' />
      <% end %>
    </div>
  </div>
<% end %>