<h2> How It Works </h2>
<div class='how_it_works'>
  <div class='box1 how_it_works_box'>
    <div class='content'>1. Find developers you want</div>
  </div>

  <div class='box2 how_it_works_box'>
    <div class='content'>2. Hire them - for a project or monthly retainer</div>
  </div>

  <div class='box3 how_it_works_box'>
    <div class='content'>3. Profit </div>
  </div>
</div>
<br/>

<%#= erb :'coming_soon' %>
<%
  #img_url = 'https://i.imgur.com/HITv355.png'
  img_url  = 'https://i.imgur.com/mQJIm5R.png'
%>
<img src='<%=img_url%>' style='width: 100%'/>

  <div class='mw1000'>
    <%= erb :'rafaeli/homepage/pricing' %>
  </div>

  <br/> 

  <div class=flex1 style='border-right:2px dashed whitesmoke; padding-right: 10px; margin-right: 10px'><%= erb :'coming_soon', locals: {halfscreen_mode: true} %>    
  </div>
  
  <br/>
  
  <% if false %>  
  <div class='mw1000'>
    <%= erb :'vip/vip_projects' %>
  </div>
  <% end %>

  <div class='mw1000'>
    <%= erb :'other/contact' %>
  </div>

  <div class='mw1000'>
    <div class='see_also ct'>
      <a class=simple_link href='/search'>Search</a>
      <a class=simple_link href='/careers'>Careers</a>
      <a class=simple_link href='/pricing'>Pricing</a>
      <a class=simple_link href='/how_it_works'>About</a>
      <a class=simple_link href='/signup'>Join</a>
      <a class=simple_link href='/login'>Sign in</a>
      <a class=simple_link href='/terms_of_service'>Terms of Service</a>
      <a class=simple_link href='/privacy_policy'>Privacy Policy</a>
      <a class=simple_link href='/contact'>Contact</a>
    </div>
    <%#= erb :'other/careers' %>
  </div>

<%#= erb :'/other/template_page', locals: data %>